![NYC Skyline](nyc.jpg)

Welcome to New York City, one of the most-visited cities in the world. There are many Airbnb listings in New York City to meet the high demand for temporary lodging for travelers, which can be anywhere between a few nights to many months. In this project, we will take a closer look at the New York Airbnb market by combining data from multiple file types like `.csv`, `.tsv`, and `.xlsx`.

Recall that **CSV**, **TSV**, and **Excel** files are three common formats for storing data. 
Three files containing data on 2019 Airbnb listings are available to you:

**data/airbnb_price.csv**
This is a CSV file containing data on Airbnb listing prices and locations.
- **`listing_id`**: unique identifier of listing
- **`price`**: nightly listing price in USD
- **`nbhood_full`**: name of borough and neighborhood where listing is located

**data/airbnb_room_type.xlsx**
This is an Excel file containing data on Airbnb listing descriptions and room types.
- **`listing_id`**: unique identifier of listing
- **`description`**: listing description
- **`room_type`**: Airbnb has three types of rooms: shared rooms, private rooms, and entire homes/apartments

**data/airbnb_last_review.tsv**
This is a TSV file containing data on Airbnb host names and review dates.
- **`listing_id`**: unique identifier of listing
- **`host_name`**: name of listing host
- **`last_review`**: date when the listing was last reviewed

In [68]:
# Import necessary packages
import pandas as pd
import numpy as np

In [69]:
prices = pd.read_csv("data/airbnb_price.csv")
prices['price'] = prices['price'].str.split().str[0].astype(int)
prices.head()

   listing_id  price                nbhood_full
0        2595    225         Manhattan, Midtown
1        3831     89     Brooklyn, Clinton Hill
2        5099    200     Manhattan, Murray Hill
3        5178     79  Manhattan, Hell's Kitchen
4        5238    150       Manhattan, Chinatown

In [70]:
rooms = pd.read_excel("data/airbnb_room_type.xlsx")
rooms.head()

   listing_id                                description        room_type
0        2595                      Skylit Midtown Castle  Entire home/apt
1        3831            Cozy Entire Floor of Brownstone  Entire home/apt
2        5099  Large Cozy 1 BR Apartment In Midtown East  Entire home/apt
3        5178            Large Furnished Room Near B'way     private room
4        5238         Cute & Cozy Lower East Side 1 bdrm  Entire home/apt

In [71]:
reviews = pd.read_csv("data/airbnb_last_review.tsv", delimiter="\t", parse_dates=['last_review'])
reviews.head()

   listing_id    host_name last_review
0        2595     Jennifer  2019-05-21
1        3831  LisaRoxanne  2019-07-05
2        5099        Chris  2019-06-22
3        5178     Shunichi  2019-06-24
4        5238          Ben  2019-06-09

### Question 1
What are the dates of the earliest and most recent reviews? Store these values as two separate variables with your preferred names.

In [72]:
# pd.to_datetime(reviews['last_review'], format="%Y-%m-%d")
sorted_dates = np.sort(reviews['last_review'].unique())
first_date = sorted_dates[0]
last_date = sorted_dates[-1]
print('First Date: ' + str(first_date)[:10])
print('Last Date: ' + str(last_date)[:10])

First Date: 2019-01-01
Last Date: 2019-07-09

### Question 2

How many of the listings are private rooms? Save this into any variable.

In [73]:
rooms['room_type'] = rooms['room_type'].str.lower()
private_rooms = rooms['room_type'].value_counts()['private room']
print(f'# Listings that are Private Rooms: {private_rooms}' )

# Listings that are Private Rooms: 11356

### Question 3

What is the average listing price? Round to the nearest two decimal places and save into a variable.

In [74]:
avg_list_price = prices['price'].mean().round(2)
print(f"Average list price: ${avg_list_price}")

Average list price: $141.78

### Question 4

Combine the new variables into one DataFrame called review_dates with four columns in the following order: first_reviewed, last_reviewed, nb_private_rooms, and avg_price. The DataFrame should only contain one row of values.

In [75]:
review_dates = pd.DataFrame([[first_date, last_date, private_rooms, avg_list_price]], columns=['first_reviewed', 'last_reviewed', 'nb_private_rooms', 'avg_price'])
review_dates

  first_reviewed last_reviewed  nb_private_rooms  avg_price
0     2019-01-01    2019-07-09             11356     141.78